/* contact */

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40pt;
    color: #222222;
    text-align: center;
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18pt;
    color: #777777;
    text-align: center;
}

iframe {
    filter: grayscale(100%);
    margin: auto;
    display: block;
}

.form {
    margin: 10px auto;
}

input {
    color: #222222;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13pt;
    font-weight: bold;
}

.border {
    border: 1px solid #222222;
}

textarea {
    height: 200px;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13pt;
    padding-left: 10px;
    font-weight: bold;
}

.btn-color {
    background-color: #ea6060;
    height: 55px;
    width: 160px;
    color: white;
    text-transform: uppercase;
}

.social {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24pt;
    color: #222222;
    text-align: center;
    margin: auto;
    width: 80%;
}

a {
    text-decoration: none;
}