/* services */
.servicesSectionHeight {
  height: 500px; 
}

.servicesHeadingTxt{
  font-size: 40px;
  font-family: TitilliumWeb;
  font-weight: bold;
  color: #222
}

.servicesSubHeadingTxt {
  font-size: 18px;
  font-family: TitilliumWeb;
  font-weight: bold;
  color: #4b4b4b;
  width: 50%;
  text-align: center;
  display:inline-block;
  margin-bottom: 50px;
}

.servicesImageHeadingTxt {
  font-size: 24px;
  font-weight: bold; 
  font-family: TitilliumWeb;
  color: #222;

}

.servicesImageSubHeadingTxt {
  font-size: 16px;
  font-weight: light;
  font-family: TilliumWeb;
  color: #777;
}

.servicesCircleImages {
    border: 2px solid #a1a1a1;
    width: 125px;
    height: 125px;
    border-radius: 75px;
    display: inline-block;
    margin: 0 10px auto;
}

.inline {
    display: inline-block;
}